<div class="container">
  <div class="movie-category">

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mov-action animate" id="mov-action" >Action Movies
        <div class="open-movie">
          <a href="action.html" style=";">click Here</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mov-horror animate" id="mov-horror">Horror Movies
        <div class="open-movie">
          <a href="horror.html" style=";">click Here</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <div class="mov-comedy animate" id="mov-comedy">Comedy Movies
        <div class="open-movie">
          <a href="comedy.html" style=";">click Here</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12"> 
      <div class="mov-thriller animate" id="mov-thriller">Thriller Movies
        <div class="open-movie">
          <a href="thriller.html" style=";">click Here</a>
        </div>
      </div>
    </div>

  </div>
</div>

<section>

  <div class="mov-games">
    <div class="games"><a href="games.html">Games</a></div>
  </div>

  <div class="new-events">
    <marquee direction="left" >
      <p style="color:white;font-family:  Comic Sans MS;">Enjoy New Movies....</p>
      <a href="log.html" target="_blank"><img src="sardar.jpg"  width="100px" height="100px" > </a> 
      <a href="" target="_blank"><img src="sardar.jpg" width="100px" height="100px"></a> 
      <a href="" target="_blank"><img src="sardar.jpg" width="100px" height="100px"></a>
    </marquee>
  </div>

</section>